{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>{{ title }}</h1>
      <p>Welcome to {{ title }}</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3><a target="_blank" href="http://expressjs.com">Express</a></h3>
        <p>Node.js web framework and application server.</p>
      </div>
      <div class="col-sm-4">
        <h3><a target="_blank" href="https://mozilla.github.io/nunjucks/">Nunjucks</a></h3>
        <p>jinja2-like templating engine for JavaScript.</p>
      </div>
      <div class="col-sm-4">
        <h3><a target="_blank" href="http://getbootstrap.com">Bootstrap</a></h3>
        <p>HTML, CSS, JavaScript framework.</p>
      </div>
    </div>
  </div>
{% endblock %}  
